header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: #545454;
}

h1 {
    color: #1F9440;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
}

input {
    display: block;
    width: 100%;
    height: 38px;
    background-color: #c4c4c4;
    border: none;
    border-radius: 0%;
    color: #202020;
    font-size: 20px;
    margin-bottom: 12px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
    line-height: 27px;
    margin-left: 40px;
    margin-right: 40px;
}

button {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width: 270px;
    height: 62px;
    left: 53px;
    top: 646px;
    text-align: center;
    border-radius: 50px;
    background-color: #1F9440;
    border: 0;
    color: white;
}

